<%= page_heading "question id:#{@question.id}" %>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Content</h5>
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#default">Default</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#raw">Raw</a>
            </li>
            <% if @question.format=="html" %>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#html">HTML</a>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane active" id="default">
            <p class="card-text"><%= @question.content %></p>
        </div>
        <div class="tab-pane" id="raw">
            <%= @question.content %>
        </div>
        <% if @question.format=="html" %>
        <div class="tab-pane" id="html">
            <p class=" card-text"><%= sanitize @question.content %></p>
        </div>
        <% end %>
        
    </div>
</div>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type.name %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @question.lecture.name %>
</p>

<p>
  <strong>Question difficulty:</strong>
  <%= @question.question_difficulty.name %>
</p>

<% if @question.question_type.name == "matching" and @question.dependant_question== nil%>
  <%= render 'questions/questions_list'%>
<% elsif @question.answers.any? %>
  <%= render 'answers/answers_list'%>
<% else %>
  <p> This question does not have a predetermined answer </p>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', :back %>
