<%= page_heading "lectures" %>
<h1>Lectures</h1>
<p class="display4"> List of all courses </p>
<br>
<%= link_to 'New Lecture', new_lecture_path, class:"btn btn-primary" %>
<br><br>
<%= will_paginate @lectures, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= render 'lectures/list_of_lectures_with_course'%>
<%= will_paginate @lectures, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>
<%= link_to 'New Lecture', new_lecture_path, class:"btn btn-primary" %>
