<%= page_heading "edit qustion difficulty #{@question_difficulty.name}" %>
<h1>Editing Question Difficulty <%= @question_difficulty %> </h1>

<%= render 'form', question_difficulty: @question_difficulty %>

<%= link_to 'Show', @question_difficulty %> |
<%= link_to 'Back', :back %>
