<%= page_heading "question types" %>
<h4>Question Types</h4>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_types.each do |question_type| %>
      <tr>
        <td style="transform: rotate(0);width:80%;"><%= link_to question_type.name, question_type, class: "table_key_cell stretched-link" %></td>
        <td> <%= question_type.questions.size%> </td>
        <td>
          <% if current_user.admin %>
          <div class="btn-group" role="group">
            <%= link_to 'Edit', edit_question_type_path(question_type), class:"btn btn-outline-warning" %>
            <%= link_to 'Destroy', question_type, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
          </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
<%= link_to 'New Question Type', new_question_type_path , class:"btn btn-primary"%>
<% end %>
<br>
<%= link_to "Back", :back%>
