


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> Sub Area </th>
      <th> Main Subject Area </th>
      <th>No. of Lectures</th>
      <th colspan="3"> </th>

    </tr>
  </thead>

  <tbody>
    <% @subject_sub_areas.each do |ssa| %>
      <tr>
        <td style="transform: rotate(0);width:30%;" ><%=link_to ssa.name, ssa, class: "table_key_cell stretched-link" %></td>
        <td style="transform: rotate(0);width:30%;" ><%=link_to ssa.subject_area.name, subject_area_path(ssa.subject_area_id), class: "table_key_cell stretched-link" %></td>
        <td><p><%= ssa.lectures.size %> </p></td>
        <td>
          <% if current_user.admin %>
          <div class="btn-group" role="group"><%= link_to 'Edit', edit_subject_sub_area_path(ssa), class: "btn btn-outline-warning" %><%= link_to 'Destroy', ssa, method: :delete, data: { confirm: "Are you sure you want to delete #{ssa.name}?" }, class: "btn btn-outline-danger" %></div>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
