<%= page_heading "subject sub area::#{@subject_sub_area.name}" %>
<h4> <%= @subject_sub_area.name%> </h4>
<% if current_user.admin %>
<%= link_to "Edit #{@subject_sub_area.name}", edit_subject_sub_area_path(@subject_sub_area), class:"btn btn-warning" %>
<br><br>
<% end %>
<p> <%= @subject_sub_area.name %> is part of main subject area: <strong> <%= @subject_sub_area.subject_area.name %> </strong> </p>

<p>
  <strong>Tags:</strong>
    <% @subject_sub_area.tags.each do |s_tag| %>
      <% if @subject_sub_area.tags.last == s_tag %>
        <%=link_to s_tag.name, s_tag, style: "text-decoration: none;", class:"link-secondary"%>
      <% else %>
        <%=link_to s_tag.name, s_tag, style: "text-decoration: none;", class:"link-secondary"%>,
      <% end %>
    <% end %>
</p>
<p>List of lectures in which this area was covered:</p>
<%= render 'lectures/list_of_lectures_with_course'%>
<br>

<br>
<%= link_to 'Back', subject_sub_areas_path %>
