<%= simple_form_for@export  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :course_id, :as => :hidden, :input_html => {:value => @course.id}%>
    <%= f.input :export_type, collection: [["Aiken", 0], ["XML", 1]] %>


    <div id="switch_button" class="btn btn-outline-info" onclick="switch_select()">Select by subject areas</div>

    <div id="select_lectures">
    <%= f.label "Please select lectures", class:"form-label"%>
    <div class="border border-1">
    <%= f.collection_check_boxes :question_areas,  @course.lectures, :id, :name, {:prompt => 'Please select lectures'},{:multiple => true} do |check|%>
      <div class="form-check ">
        <%= check.check_box(class: "form-check-input") %> <%= check.label(class:"form-check-label") %>
      </div>
    <% end %>
    </div>
    </div>


    <div id="select_areas">
    <%= f.label "Please select areas", class:"form-label"%>
    <div class="border border-1">
    <%= f.collection_check_boxes :question_areas, SubjectSubArea.joins(:lectures).merge(@course.lectures).uniq , :lecture_ids, :name ,{:multiple => true} do |check|%>
      <div class="form-check ">
        <%= check.check_box(class: "form-check-input") %> <%= check.label(class:"form-check-label") %>
      </div>
    <% end %>
    </div>
    </div>



    <%= f.input :number_of_questions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script type="text/javascript">
  function switch_select(){
    var l_view = document.getElementById("select_lectures");
    var sa_view = document.getElementById("select_areas");
    var b = document.getElementById("switch_button");

    if (l_view.style.display === "none" && sa_view.style.display === "block"){
      sa_view.style.display = "none";
      l_view.style.display = "block";
      b.innerHTML = "Select by subject areas";
    }
    else{
      l_view.style.display = "none";
      sa_view.style.display = "block";
      b.innerHTML = "Select by lectures";
    }
  }
</script>
